{% extends "base_template.html" %}
{% block page_content %}
<section class="text-gray-600 body-font">
  <div class="container px-15 py-19 mx-auto">
<!--    <select class="form-select form-select-lg select2" aria-label=".form-select-lg example">-->
<!--      <option>Select your Exchange</option>-->
<!--      {% for exchange in exchanges%}-->
<!--      <option value="exchange.id">{{exchange}}</option>-->
<!--      {% endfor %}-->
<!--    </select>-->

 <table class="table table-borderless" id="example">
          <thead>
          <tr style="color:blue,background-color:yellow">
              <th>Currency</th>
              <th>Open</th>
              <th>Close</th>
              <th>High</th>
              <th>Low</th>
              <th>Last Price</th>
              <th>Volume</th>
              <th>Action</th>
          </tr>
          </thead>
          <tbody>
          {% for key,values in tickers.items %}

<!--          <tr>-->
<!--              <td>{{market}}</td>-->
<!--              <td>{{open}}</td>-->
<!--              <td>{{lastPrice}}</td>-->
<!--              <td>{{low}}</td>-->
<!--              <td>{{high}}</td>-->
<!--              <td>{{lastPrice}}</td>-->
<!--              <td>{{volume}}</td>-->
<!--              <td></td>-->
<!--          </tr>-->
          <a href="{% url 'dashboard' %}">
              <tr>
                  <td style="color:blue">{{key}}</td>
                  <td style="color:values.open>values.close?'green':'red'">{{ values.open}}</td>
                  <td>{{ values.close}}</td>
                  <td>{{ values.high }}</td>
                  <td>{{ values.low}}</td>
                  <td style="">{{ values.info.lastPrice}}</td>
                  <td>{{ values.info.volume}}</td>
                  <td>
                      <a href="{% url 'tview_ta' values.info.symbol %}"><button class="btn btn-primary btn-sm">View</button></a>
<!--                      <button class="btn btn-success btn-sm">Buy</button>-->
<!--                      <button class="btn btn-danger btn-sm">Sell</button>-->
                  </td>
              </tr>
          </a>

          {% endfor %}
          </tbody>

      </table>

  </div>
</section>

{% endblock %}